/* CSS/index.css */
        body {
            background: url('../images/blabla.jpg') no-repeat center center;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
        }
        .menu-container {
            background: rgba(118, 167, 228, 0.95);
            border-radius: 16px;
            box-shadow: 0px 8px 32px 0 rgba(255, 13, 13, 0.37);
            padding: 40px 30px;
            text-align: center;
            max-width: 350px;
            width: 100%;
        }
        .monopoly-title {
            font-family: 'Impact', 'Arial Black', sans-serif;
            color: #ffffff;
            letter-spacing: 2px;
            font-size: 3rem;
            margin-bottom: 24px;
            text-shadow: 0px 0px 9px  #000;
            background-color: red;
            border: #ffffff 4px solid;
        }
        .btn-play {
            background-color: #43cea2;
        }

        .btn-rules {
            background-color: #ffc107;
        }

        .btn-exit {
            background-color: #dc3545;
        }

        .btn-monopoly{
            color: #fff;
            font-weight: bold;
            border: none;
            transition: background 0.2s;
        }


        .btn-monopoly:hover {
            background-color: #185a9d;
            font-weight: bold;
            color: #fff;
        }
